{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A website that has access to many movies to select from">
    <title>Movie Page Index</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <script src="https://kit.fontawesome.com/869d23ac57.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div>
            Time:
            <span id="time"></span>
            <span id="year"></span>
        </div>
        <h1>Movie Page</h1>
        <div class="dropdown">
            <button class="dropbtn">Explore</button>
            <div class="dropdown-content">
                <a href="/logReg">Sign In/Up</a>
                <a href="/info" target="_blank">About this site</a>
            </div>
        </div>
    </header>
    <main>
    <div class="explore">
        <div class="movieBoxOne">
            <!-- Shows current movies that are popular from the movie database -->
            Check out these popular movies!
            <div id="subMoviebox"></div>
        </div>  
    </div>          
    <div class="register">
        <h2>Login or Sign Up to view more movies!</h2>
        <a href="/logReg"><button><i class="fa-solid fa-user"></i> Register</button></a>
    </div>
    </main>
    <footer>
        <p>Author: Mykee Flores</p>
        <a href="https://mykee9900.github.io/" target="_blank" ><p>About Me</p><i class="fa-solid fa-globe"></i></a>
    </footer>
    <script type="module" src="{% static 'scripts/script.js' %}"></script>
</body>
</html>