<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Maker</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '../static/css/info.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@600&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/869d23ac57.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <h1>Movie Maker</h1>
        <div class="dropdown">
            <button>More <i class="fa-solid fa-caret-down"></i></button>
            <div class="dropdownCont">
                <a href="signOut">Sign Out</a>
                <a href="/home">Home</a>
            </div>
        </div>
    </header>
    <main>
        <h3>About Us</h3>
        <p>We are a company who's main goal is to provide a reliable source of movies and make them available for everybody. We are still growing and our website is still new, but soon it will be ready and our goal will be accomplished.</p>
    </main>
</body>
</html>