{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="A website that has access to many movies to select from">
        <title>Movie Page</title>
        <link rel="stylesheet" href="{% static 'css/sign&Reg.css' %}">
        <script src="https://kit.fontawesome.com/869d23ac57.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <header>
            <h1>Movie Page</h1>
            <div class="dropdown">
                <button class="dropbtn">Explore</button>
                <div class="dropdown-content">
                    <a href="/index">Home</a>
                    <a href="/info" target="_blank">About this site</a>
                </div>
            </div>
        </header>
        <main>
            <form action="register" method="post">
                {% csrf_token %}
                Register
                <!-- Sends a post method to register a new user -->
                <label id="fName">First Name</label>
                <input type="text" id="fName" name="fname" minlength="2">
                <label id="lName">Last Name</label>
                <input type="text" id="lName" name="lname" minlength="2">
                <label id="email">Email</label>
                <input type="text" id="email" name="email" minlength="12">
                <label type="text" id="uName" name="uName">User Name</label>
                <input type="text" id="Uname" name="uName" minlength="5">
                <label id="password">Password</label>
                <input type="password" id="password" name="password" minlength="5">
                <label id="cPassword">Confirm Password</label>
                <input type="password" id="cPassword" name="cPassword">
                <button type="submit">Login</button>
            </form>
            <form action="log" method="post">
                {% csrf_token %}
                Login
                <!-- Sends a post method to log in a new user -->
                <label for="email">Email</label>
                <input type="text" id="email" name="email" placeholder="Email" minlength="12">
                <label id="password">Password</label>
                <input type="password" id="password" name="password" minlength="5">
                <button type="submit">Login</button>
                <a href="/changeInfo" target="_blank">Forgot username/password?</a>
            </form>
        </main>
        <footer>
            <p>Author: Mykee Flores</p>
            <a href="https://mykee9900.github.io/" target="_blank" ><p>About Me</p><i class="fa-solid fa-globe"></i></a>
        </footer>
    </body>
</html>